<div class="mt-3" id="home">
  <div class="card-deck">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="<%=assetPath("/images/home-theater.png")%>" alt="Home Theatres">
      <div class="card-body">
        <h5 class="card-title">Home Theaters &amp; HD TV</h5>
        <p class="card-text">We help you bring tomorrow’s techology to your home today. Sit the whole family down in your personal home theater and watch a movie as never before.</p>
      </div>
      <div class="card-footer">
        <a href="/gallery#theater" class="btn btn-primary bg-custom-primary">Info</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="<%=assetPath("/images/wiring.jpg")%>" alt="New Construction Pre-wire">
      <div class="card-body">
        <h5 class="card-title">New Construction Pre-wire</h5>
        <p class="card-text">Future proof your new home. We provide new construction structured wiring that will integrate your entire home.</p>
      </div>
      <div class="card-footer card-footer-light ">
        <a href="/gallery#pre" class="btn btn-primary">Info</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="<%=assetPath("/images/hard-hat.jpg")%>" alt="Commercial">
      <div class="card-body">
        <h5 class="card-title">Commercial</h5>
        <p class="card-text">Want your company board room to utilize todays technology? Are you thinking of adding a new training facility, or maybe just background music for your customers and employees.</p>
      </div>
      <div class="card-footer">
        <a href="/gallery#commercial" class="btn btn-primary">Info</a>
      </div>
    </div>
  </div>
</div>
