<div class="mt-3">
<h2>Products</h2>
<p>We offer HDTV’s and projectors from Panasonic, Toshiba, Optoma and several other companies along with A/V receivers, processors and amps from Onkyo, Denon, ParaSound, Niles.</p>
<p>Several complete lines of speakers to chose from such as Niles, Boston Acoustics, Pinnacle, Infinity, and JBL.</p>
<p>Total control of your system, from in- the-wall keypads to all-in-one IR of RF remote controls. Guaranteed to provide one touch operation.</p>
<p>A complete selection of all accessories, from DVD,CD, and Blu-ray/HDDVD players to iPod docks and gaming systems. Surge protection. Interconnects.</p>
<p>We will also install any customer supplied equipment.</p>

<h2>Services</h2>
<p>We offer free estimates in the Chippewa Valley area. Please call or email to schedule your appointment.</p>
<p>Commercial system design for sports bars and your retail or office locations, as well as churches and other places of worship.</p>
<p>A wide range of home theater and distributed audio systems from design, to products, to complete installation. Whole house audio has never been easier.</p>
<p>We specialize in making the working part of your system, all those wires, invisible. As a custom sound and video installer we take great pride in our ability in making the “mess” disappear, whether it’s through the attic or through the basement, up the wall, or down the wall, we can offer options that dramatically decrease the clutter.</p>
<p>Structured wiring for today and tomorrow that allows computer integration and home automation to become a reality today.</p>
<p>Complete phone, internet, HDTV Antenna systems, cable and satellite hookups.</p>
</div>
